/*

!.gitignore

!.xinitrc
!.bashrc
!.bash_profile
!.gtkrc-2.0
!.gitconfig

!stuff/
stuff/*
!stuff/constants
!stuff/scripts

!.config/
.config/*

!.fonts
!.fonts/*
!.config/btop
!.config/fish
!.config/Thunar
!.config/nvim
!.config/flameshot
!.config/paru
!.config/fontconfig
!.config/hypr
!.config/gtk-3.0
!.config/gtk-4.0
!.config/jump
!.config/rofi
!.config/waybar
!.config/GIMP
!.config/fastfetch
!.config/flameshot
!.config/fontconfig
